<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.we_youth">

    <queries>
        <package android:name="xx.xx.xx" />
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.We_Youth">
        <activity
            android:name=".ui.KeyboardActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.RetrofitActivity"
            android:exported="false" />
        <activity
            android:name=".JavaActivity"
            android:exported="false" />
        <activity
            android:name=".flow.FlowActivity"
            android:exported="false" />
        <activity
            android:name=".AnimationActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".matrix.issue.IssuesListActivity"
            android:launchMode="singleTask" />
    </application>

</manifest>